@page "/"

@using AzDevOpsWiReader.Web.Data
@using AzDevOpsWiReader.Shared
@using System.Data
@using System.Dynamic
@using System.Text.RegularExpressions
@using DevExpress.Blazor
@using Newtonsoft.Json

@inject IAzDevOpsReaderService ReaderService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navigationManager

<h1>Azure DevOps WorkItem list (<a href="" @onclick="(() => Load())" @onclick:preventDefault>Reload</a> / <a href="" @onclick="(() => PopupVisible = true)" @onclick:preventDefault>Configure</a>)</h1>

@if (display == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxPopup HeaderText="Azure DevOps WorkItem Reader configuration"
            @bind-Visible="@PopupVisible">
        <Content>
            <EditForm Model=@config OnValidSubmit="HandleSubmit">
                <InputTextArea @bind-Value="config.Content" rows="20" cols="100" />
                <br />
                <button type="submit">Save and reload</button>
            </EditForm>
        </Content>
    </DxPopup>
    <DxDataGrid Data="@display"
                T="@object"
                PageSize="20">
        @foreach (DataColumn col in result.Columns.Cast<DataColumn>().Where(c => c.ColumnName != "URL" && c.ColumnName != "ParentURL")) {
            <DxDataGridColumn Field="@col.ToString()">
                <DisplayTemplate>
                    @{
                        @if (col.ToString() == "Title" || col.ToString() == "Parent")
                        {
                            <span>@((MarkupString)Format((context as IDictionary<String, Object>)[col.ToString() + "_Extended"]))</span>
                        } 
                        else 
                        {
                            <span>@((MarkupString)Format((context as IDictionary<String, Object>)[col.ToString()]))</span>
                        }
                    }
                </DisplayTemplate>
            </DxDataGridColumn>
        }
    </DxDataGrid>
}

@code {
    private DataTable result;
    private List<object> display;
    bool PopupVisible { get; set; } = false;
    Config config = new Config();
    protected override async Task OnInitializedAsync()
    {
        config = await localStorage.GetItemAsync<Config>("azdevops-wi-reader.config");
        if (config == null)
            config = new Config();
        await Load();
    }

    private async Task HandleSubmit()
    {
        await localStorage.SetItemAsync("azdevops-wi-reader.config", config);
        PopupVisible = false;
        navigationManager.NavigateTo("/", true);
    }

    private static List<dynamic> ConvertDataTableToExpandoObjectList(DataTable dataTable)
    {
        List<dynamic> expandoList = new List<dynamic>();
        foreach (DataRow row in dataTable.Rows)
        {
            var expandoDict = new ExpandoObject() as IDictionary<String, Object>;
            foreach (DataColumn col in dataTable.Columns)
            {
                expandoDict.Add(col.ToString(), row[col.ColumnName]);
                if (col.ColumnName == "Title")
                {
                    if (row["URL"] != DBNull.Value && !String.IsNullOrEmpty((string)row["URL"]))
                        expandoDict.Add("Title_Extended", $"=HYPERLINK({row["URL"]};{row["Title"]})");
                    else
                        expandoDict.Add("Title_Extended", row["Title"]);
                }
                else if (col.ColumnName == "Parent")
                {
                    if (row["ParentURL"] != DBNull.Value && !String.IsNullOrEmpty((string)row["ParentURL"]))
                        expandoDict.Add("Parent_Extended", $"=HYPERLINK({row["ParentURL"]};{row["Parent"]})");
                    else
                        expandoDict.Add("Parent_Extended", row["Parent"]);
                }
            }
            expandoList.Add(expandoDict);
        }

        return expandoList;
    }

    public async Task Load()
    {
        display = null;
        if (!string.IsNullOrEmpty(config.Content) && config.Content != Config.DEFAULT)
        {
            result = await Task.Run(() => ReaderService.GetAzDevOpsResult(config));
            display = ConvertDataTableToExpandoObjectList(result);
        }
        else
        {
            var expandoDict = new ExpandoObject() as IDictionary<String, Object>;
            expandoDict.Add(" ", "Please configure (see link above)!");
            display = new List<dynamic>();
            display.Add(expandoDict);
            result = new DataTable();
            result.Columns.Add(new DataColumn(" "));
        }
    }

    private string Format(object o)
    {
        var s = o.ToString();
        var match = Regex.Match(s, @"=HYPERLINK\((.*);(.*)\)");
        if (match.Success)
        {
            return $"<a href=\"{match.Groups[1].Value}\" target=\"_blank\">{match.Groups[2].Value}</a>";
        }
        else
        {
            return s;
        }
    }
}

